# ===== Dependencies =====
**/node_modules/

# ===== Build outputs =====
**/dist/
**/build/
**/.next/
**/out/
**/.parcel-cache/
**/.turbo/

# Vite
**/.vite/

# ===== Env / secrets =====
**/.env
**/.env.*
!**/.env.example

# ===== Logs =====
**/logs/
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ===== OS / Editor junk =====
**/.DS_Store
**/Thumbs.db
**/.idea/
**/.vscode/
!**/.vscode/extensions.json

# ===== TypeScript caches =====
**/*.tsbuildinfo

# ===== Testing / coverage =====
**/coverage/

# ===== Misc =====
**/*.local
